*.elc
.emacs.d/*

!.emacs.d/init.el
!.emacs.d/custom.el
!.emacs.d/abbrev_defs
!.emacs.d/themes/
!.emacs.d/snippets/
!.emacs.d/packages/
!.emacs.d/lib/
.emacs.d/packages/elpa/gnupg/
.emacs.d/packages/elpa/archives/

!.emacs.d/backups/
.emacs.d/backups/*
!.emacs.d/backups/.gitignore

.mutt/cache

.xmonad/*
!.xmonad/xmonad.hs

.ssh/*
!.ssh/config

.weechat/logs/
.weechat/weechat.log
.weechat/sec.conf
.weechat/urlserver_list.txt
.weechat/script/plugins.xml.gz

.ncmpcpp/*.log

