.emacs.d/*

!.emacs.d/init.el
!.emacs.d/custom.el
!.emacs.d/abbrev_defs
!.emacs.d/themes/
!.emacs.d/packages/

.emacs.d/packages/elpa/gnupg/
.emacs.d/packages/elpa/archives/*

.mutt/cache

.xmonad/*
!.xmonad/xmonad.hs

.weechat/logs/
.weechat/weechat.log
.weechat/urlserver_list.txt

